@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.main-product-information-container {
    border: 1px solid rgba(196, 196, 196, 0.3);
    box-sizing: border-box;
    padding: 30px;
}

.main-product-information {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    color: #000000;
    width: 1100px;
}

.main-product-information-content{
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

.main-product-information-body{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    display: flex;
    align-items: center;
}


.main-product-information-body:last-child{
    border-bottom: none;
}

.main-product-information-title{
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    margin: 0;
}

.main-product-information-detail{
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    margin: 0;
}